.form {
    color: white;
    border-bottom: 1px solid #00ffff !important;
    justify-content: center;
    width: 50%;
}

.form::before {
    border-bottom: 1px solid #00ffff !important;
}
.form:focus .form:focus-visible {
    border-bottom: 1px solid #00ffff !important;
}

.input{
    color: white !important; 
  
}

.inputLabel {
    color: white
}

.button{
    
    background-color: #00ffff !important ;   
    color: #2d2d2d !important; 
}

.buttonDisabled {
    background: #fefefe !important;
    border: 1px solid #fefefe !important;
    color: gray !important;
} 

.button:hover{
    background: transparent !important;
    border: 1px solid #00ffff !important;
    color: #00ffff !important;
}

